* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
}
h1 {
	font-family: Helvetica;
	font-size: 80px;
	color: white;
	display: block;
	margin-top: 20%;
	text-align: center;
	animation: fade-in ease 3s;
}
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background:lightblue;
}
@keyframes fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
@keyframes leave {
	from {
		top:0;
	} to {
		top: -100%;
	}
}



#app-main {
	overflow: hidden;
}
#app-main #lateral {
	width: 20%;
	float: left;
	display: block
}
#app-main #registros {
	width: 80%;
	float: left;
}
#app-main #title {
	text-align: center;
	display: block;
	margin: 20px auto;
}
#app-main #tools-container {
	position: relative;
	height: 40px;
}
.add-plus {
	border-radius: 50%;
	color: white;
	width: 40px;
	height: 40px;
	background-color: lightblue;
	border: none;
	position: absolute;
	right: 50px;
	cursor: pointer
}
#app-main #tools-container #search-control {
	margin: 10px 20% 0 20%;
	display: inline-block;
}
#app-main #tools-container #download-data {
	background-color: lightblue;
	border-radius: 50px;
	height: 30px;
	width: 120px;
	border:none;
	color: white;
	cursor: pointer;
}
#app-main #registros #lista-registros {
	width: 100%;
	overflow-y: scroll;
}
#app-main #registros #lista-registros .item-registro {
	background: red;
	height: 100px;
}
@keyframes fade {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

#add-table #container {
	position: fixed;
	width: 50%;
	left: 25%;
	top: 10%;
	background: blue;
	height:80%;
}
#add-table #shadow {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3)
}

#rows-container ul {
	overflow: scroll;
}
#rows-container ul li{
	display: grid;
}
#rows-container ul #rows-header span{
	background: blue;
}
#rows-container ul li span {
	display: block;
	float: left;
	background: red;
	width: 200px;
	border:solid black 1px;
}