/*
97f9f9
a4def9
c1e0f1
cfbae1
c59fc9
*/


* {
	margin: 0;
	padding: 0;
	--primary-color:#c59fc9;
	--primary-light:#cfbae1;
	--secondary-main:#97f9f9;
	--secondary-light:#c1e0f1;
	--secondary-dark:#a4def9;
}
li {
	list-style: none;
}
a{
	text-decoration: none;
}
h1 {
	font-family: Helvetica;
	font-size: 80px;
	color: white;
	display: block;
	margin-top: 20%;
	text-align: center;
	animation: fade-in ease 3s;
}
/*Globals*/
.generic-button {
	padding: 0 20px;
	border-radius: 50px;
	background: var(--primary-light);
	color: white;
	height: 30px;
	border: none;
	cursor: pointer; 
}
.fecha {
	text-align: center;
	display: block;
	font-size: 20px;
}
.buttons {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
/**************************************/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: var(--primary-color);
}
@keyframes fade-in {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
@keyframes leave {
	from {
		top:0;
	} to {
		top: -100%;
	}
}



#app-main {
	overflow: hidden;
}
#app-main #lateral {
	width: 20%;
	float: left;
	display: block
}
#app-main #lateral button {
	background: none;
    border: none;
    font-size: 16px;
    color: var(--primary-light);
    height: 40px;
    width: 150px;
    border-radius: 50%;
    cursor: pointer;
    transition: ease .6s;
}
#app-main #lateral button:hover {
	background: -webkit-radial-gradient(center, ellipse, #f2e9e4 10%, white 110%);
}
#app-main #registros {
	width: 80%;
	float: left;
}
#app-main #title {
	display: block;
    margin: 20px 0 20px 41%;
}
#app-main #tools-container {
	position: relative;
	height: 40px;
}
.add-plus {
	border-radius: 50%;
	color: white;
	width: 40px;
	height: 40px;
	background-color: var(--primary-light);
	border: none;
	position: absolute;
	right: 50px;
	cursor: pointer
}
#app-main #tools-container #search-control {
	margin: 10px 20% 0 20%;
	display: inline-block;
}
#app-main #registros #lista-registros {
	margin-top: 30px;
	width: 100%;
	overflow-y: scroll;
}
#app-main #registros #lista-registros .item-registro {
	padding: 2% 10%;
    background: #f7f7f7;
    height: 98%;
    width: 80%;
    position: relative;
    border-radius: 5px;
}
#app-main #registros #lista-registros .item-registro .item-margin{
	position: absolute;
    width: 60px;
    background: #cfbae266;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
}
@keyframes fade {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

#add-table #container {
    padding: 1% 10%;
    position: fixed;
    width: 50%;
    left: 15%;
    top: 10%;
    background: #f7f7f7;
    height: 80%;
}
#add-table #container h4{
	text-align: center;
	font-size: 24px;
}
#add-table #shadow {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: white
}
#add-table #row-list {
	overflow-y: scroll; 
}
#add-table #row-list > .item{
    position: relative;
    padding: 10px 30px;
    background: #d4cfd8;
    border-radius: 5px;
}
#add-table #row-list > .item > .margin{
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px 0px 0px 5px;
    width: 30px;
    background: var(--primary-color);
}
#add-table #row-list > .item > .column-name{
	color: white;
    font-size: 18px;
    margin-left: 10px;
}
#rows-container ul {
	overflow: scroll;
	display: grid;
}
#rows-container ul #rows-header span{
	background: blue;
}
#rows-container ul li span {
	display: block;
	float: left;
	background: red;
	width: 200px;
	border:solid black 1px;
}